/* global styling*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 1em/1.1 white 'Helvetica';
  text-align: center;
  align-content: center;
  background: firebrick;
  padding: 0;
  margin: 0;
}

/* link styling */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

a:visited {
  color: darkgrey;
}

/* Heading Stylings */

h1 {
  font-family: 'Jockey One', sans-serif;
  font-size: 1em;
  line-height: 1.1;
}

h2 {
  padding: 10px;
/*  border: solid firebrick 3px;
  border-radius: 10px 2px 10px 2px; */
  margin: 5px auto 5px;
  font-size: bold;
  font-family: 'Jockey', sans-serif;
  text-align: center;
  color: black;
  font-size: .9em;
}

h4 {
font-family: 'Marvel', 'Cousine', sans-serif;
  text-decoration: underline;
  color: black;
  font-size: .85em;
}
/*---------------------------Section Styling--------------------------*/
/* Main Nav section styling*/
.nav-container {
  background-color: firebrick;
  width: 100%;
  min-height: 20px;
  padding: 0;
  position: fixed;
  color: black;
  border-bottom: solid black 2px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.nav {
  display: block;
  justify-content: space-around;
  font-weight: bold;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

/* .nav .name {
  margin-right: auto;
  display: block;
  color: black;
} */

.nav li {
  padding: 0;
  text-decoration: none;
  line-height: 1;
  font-size: .8em;
  text-align: right;
  margin-right: 15px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white;
}

.nav a:visited {
  color: darkgrey;
}

/* Header styling*/

header {
  text-align: center;
  background-color: firebrick;
  color: white;
  height: auto;
  border-bottom: solid black 2px;
  padding-top: 0;
  font-size: 1em;
}

/*.containerdiv {
  background-color: black;
  margin: 100px 5%;
  border: solid white 3px;
  width: 250px;
  height: 200px;
  position: relative fixed;
  border-radius: 35px 3px 35px 3px;
} */

.containerdiv .profile-img {
  width: 150px;
  height: 150px;
  margin: 150px auto 30px;
  border-radius: 50%;
  border: solid white 2px;
  transition: all .5s;
  position: absolute fixed center;

}

.containerdiv .profile-img:hover {
  transform: scale(1.1);
}

header .intro {
  max-width: 430px;
  color: white;
  margin: 5px;
  padding: 5px;
  line-height: 1.1;
  position: relative fixed;
  font-size: .80em;
}

.about {
  display: none;
}

/* Secondary Content Styling*/

.secondary-content p {
  font-size: .80em;
}

.project {
  font: grey;
  border-bottom: solid grey 4px;
  border-right: solid grey 4px;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.1;
  max-width: 300px;
  background-color: white;
  display: block;
  max-height: 200px;
  overflow: scroll;
  margin: 15px;
}

.project:hover {
  border-color: black;
}

.project-images {
  max-width: 240px;
}

/* Main Footer Styling*/

footer {
  background-color: firebrick;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  font-size: .8em;
  text-align: right;
  margin: auto;
}

footer .social {
  float: left;
  display: block;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

footer .copyright {
  top: -8px;
  font-size: .65em;
  margin: auto;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
}

footer .nav {
  float: right;
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 footer ul li {
  display: block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/*---------------other pages----------------*/
/* Main Styling */

.profile-header {
  text-align: center;
  background: url('../images/priest-cove.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  max-height: 450px;
}

header .profile-image {
  margin-top: 50px;
  max-width: 300px;
  max-height: 150px;
  border-radius: 20px;
  border: 3px solid firebrick;
  transition: all .5s;
}

header .profile-image:hover {
  transform: rotate(360deg);
}

.tag {
  background-color: white;
  color: black;
  padding: 5px;
  border: solid firebrick 3px;
  border-radius: 5px;
  display: table;
  margin: 5px auto;
}
.location {
  background-color: black;
  color: white;
}
.card,
.card_2 {
  margin: 10px;
  padding: 10px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  justify-content: space-around;
  font-size: .8em;
  line-height: 1.1em;
  }

.card:hover {
  border-color: black;
}

.card_2:hover {
  border-color: black;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: yellow;
  color: firebrick;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: orange;
}

/* Styles for larger screens */
