/* web fonts*/

@font-face {
  font-family: 'Poster';
src: url('../font/DAYPBL__.ttf') format('truetype');
}
@font-face {
  font-family: 'belligerent';
src: url('../font/belligerent.ttf') format('truetype');
}

/* global styling*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: normal 1em/1.2 normal;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: firebrick;
  text-align: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

/* link styling */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

a:visited {
  color: darkgrey;
}

/* Heading Stylings */

h1 {
  padding: 80px 5px 15px;
  margin: 5px auto 5px;
  font-weight: bold;
  font-family: 'Book Antiqua', Georgia, serif;
  text-align: center;
  color: black;
  font-size: 1.2em;
}

h2 {
  font-family: 'Book Antiqua', serif;
  text-decoration: underline;
  color: black;
  font-size: .85em;
  margin-bottom: 5px;
}
/*---------------------------Section Styling--------------------------*/
/* Main Nav section styling*/
.nav-container {
  background-color: firebrick;
  width: 100%;
  min-height: 20px;
  padding: 0;
  position: fixed;
  color: black;
  border-bottom: solid black 2px;
  margin:0 0 5px;
  padding-top: 10px;
}

nav .name {
  font-style: oblique;
}

.nav {
  display: block;
  letter-spacing: 3px;
  font-family: 'Poster', 'Franklin Gothic', 'Franklin Gothic Medium', Arial, sans-serif;
  justify-content: space-around;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
}

.nav li {
  padding: 0;
  text-decoration: none;
  line-height: 1;
  font-size: .8em;
  text-align: right;
  margin-right: 15px;
}

.nav a {
  transition: all .5s;
}

.nav a:visited {
  color: darkgrey;
}

.nav a:hover {
  color: white;
}

/* Header styling*/

header {
  text-align: center;
  background-color: firebrick;
  color: white;
  border-bottom: solid black 2px;
  padding-top: 0;
  font-size: 1em;
}

.containerdiv .profile-img {
  width: 150px;
  height: 150px;
  margin: 150px auto 30px;
  border-radius: 50%;
  border: solid white 2px;
  transition: all .5s;
}
.containerdiv .profile-img:hover {
  transform: scale(1.1);
}

header .intro {
  font-family: 'belligerent', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  letter-spacing: 1.2px;
  max-width: 410px;
  color: white;
  margin: 5px auto ;
  padding: 10px;
  line-height: 1.2;
  display: block;
  font-size: .90em;
}


/* Portfolio Styling*/

.Portfolio {
  border-bottom: solid black 2px;
  margin-top: 75px;
  margin: 15px 3%;
}

.Portfolio p {
  font-size: .80em;
}

.project {
  color: grey;
  border-bottom: solid grey 4px;
  border-right: solid grey 4px;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.1;
  max-width: 300px;
  background-color: white;
  display: block;
  margin: 15px auto 50px;
  align-items: center;
}

.project:hover {
  border-color: black;
}

.project-images {
  max-width: 240px;
}

/* Experience Styling*/

.experience {
  margin: 15px 3%;
}

.card {
  margin: 15px auto 25px;
  padding: 3% 5% 5%;
  max-width: 400px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  font-size: .85em;
  line-height: 1.3;
  color: black;
}

.card:hover {
  border-color: black;
}

/* Contact Styling*/

.contact {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding-bottom: 10px;
  margin: 5px auto 40px;
  text-align: center;
}

.contact ul {
  list-style-type: none;
  margin: 10px auto;
}

/* Main Footer Styling*/

footer {
  background-color: firebrick;
  padding: 20px;
  font-size: .8em;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

footer .copyright {
  text-align: left;
  font-size: .65em;
  float: left;
  padding-left: 30px;
  padding: 10px;
}

.footer_mainnav {
  display: none;
}

.footer_mobilenav {
  Float: right;
  padding-right: 30px;
}


/* Styles for larger screens */

@media (min-width: 481px) {
  body {
    background: #f7f5f0;
    color: black;
  }
  p {
    font-size: .9em;
  }
  h1 {
    font-size: 1.3em;
  }
  h2 {
    font-size: .95em;
  }
  .nav li {
    text-align: center;
    margin: auto;
    padding: 5px;
  }
  header.intro {
    margin-top: 50px;
    line-height: 1.3;
  }
  .card:hover {
    border-color: firebrick;
  }
}

@media (min-width: 768px) {
  * {
  margin: 0;
  }
  body {
    font: normal 1em/1.5 normal;
    border-left: solid firebrick 20px;
    border-right: solid firebrick 20px;
    color: grey;
  }
  .container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.5em;
  }
  .nav li {
    padding: 5px 10px 10px;
    display: inline-block;
  }
  .containerdiv .profile-img {
    float: right;
    margin: 120px 10% 30px 0;
  }
  .containerdiv .profile-img:hover {
    transform: scale(1.3);
  }
  header .intro {
    float: left;
    margin: 100px 0 30px 5%;
    font-size: 1em;
    line-height: 1.3;
  }
  .project {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 400px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .project p {
    font-size: 1.2em;
  }
  .card {
    font-size: 1.3em;
  }
  .footer_mainnav {
    display: block;
  }
  .footer_mobilenav {
    display: none;
  }
  footer {
    font-size: 1em;
  }

  footer .copyright {
    font-size: .95em;
  }

  footer .nav {
    float: right;
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

@media (min-width:1024px) {
  * {
  margin: 0;
  }
  body {
    border-left: solid firebrick 30px;
    border-right: solid firebrick 30px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  .nav-container {
    min-height: 40px;
    padding: 10px;
  }
  .nav {
    justify-content: space-around;
    float: right;
    margin-right: 30px;
  }
  .nav li {
    padding: 10px;
    font-size: 1.3em;
  }
  .name {
    margin: auto;
    font: bold 1.5em normal;
    color: black;
    display: inline-block;
    padding-top: 20px;
    float: left;
  }
  header {
    text-align: left;
    border-bottom: solid black 3px;
  }
  .containerdiv {
    background-color: black;
    margin: 150px 10% 100px auto;
    border: solid white 3px;
    width: 250px;
    height: 200px;
    border-radius: 35px 3px 35px 3px;
    float: right;
  }
  .containerdiv .profile-img {
    margin: 25px 50px;
  }
  header .intro {
    max-width: 500px;
    margin: 110px auto 75px 7.5%;
    font-size: 1.4em;
    line-height: 1.5;
  }
  .project {
    width: 29%;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
  }
  .experience {
    line-height: 1.4;
  }
  .card {
    display: inline-block;
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: top;
    max-width: 600px;
    min-width: 250px;
    font-size: 1.2em;
    line-height: 1.5;
    margin-left: 15px;
    margin-right: 15px;
  }
  footer {
    font-size: 1.2em;
  }
  footer .copyright {
    top: -8px;
    font-size: .95em;
  }
}
